/*
*** faceChina移动端常用组件
*** author jinyang
*/
/******************=提示框=**********************/

.reveal-wrap{
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    /*opacity: 0.5;*/
    /*background: #000;*/
    z-index:100000;
    left: 0;
    display: none;
    top:0;
    /*display: flex;
    display: -webkit-flex;
    flex-direction:column;
    -webkit-flex-direction:column;
    justify-content:center;
    -webkit-justify-content:center;
    align-items:center;
    -webkit-align-items:center;*/
}
.reveal-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 88888;
}
.reveal-box{
    width: 12rem;
    height: auto;
    background: #fff;
    z-index: 99999;
    /*border:1px solid #333333;*/
    max-height: 18rem;
    border-radius: .36rem;
    overflow-y:auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(50%, 50%);
    -webkit-transform: translate(-50%, -50%);
}
.bounced{
    padding: 1.4rem 0.5rem 0.5rem;
    position: relative;
}
.noscroll{
    height: 100vh;
    overflow-y: hidden;
}
.bounced-cancel{
    color: #c5c5c5;
    font-size: .6rem;
    position: absolute;
    right: 0.5rem;
    top:0.5rem;
    z-index: 1000;
}
.bounced-content{
    height: 16rem;
    overflow-y: auto;
}
.bounced-paragraph{
    margin-bottom: 0.56rem;
}
.bounced-title{
    text-align: center;
    font-size: .7rem;
    color: #c5c5c5;
    margin-bottom: .2rem;
    color: #333;
    line-height: .64rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0.5rem;
    z-index: 100;
    font-weight: normal;
}
.bounced-content h4{
    font-size: .48rem;
    margin-bottom: .5rem;
    color: #333;
    font-weight: normal;
}
.bd-pic{
    width: 100%;
    height: auto;
}
.bd-pic img{
    display: block;
    width: 100%;
    height: auto;
}
.bounced-content p{
    word-break: break-all;
    margin-bottom: .3rem;
    font-size: .44rem;
}
.loading-svg{
    background: #f5f5f5 !important;
    position: absolute;
    width: 100%;
    top: 20%;
}
.loading-svg{
    background: transparent !important;
}

/******************=分享组件=**********************/

.share-ulist{
    display: flex;
    display: -webkit-flex;
    justify-content:space-between;
    background: #ffff00;
    padding: 0 1rem;
}
.share-ulist>li{
    text-align: center;
}
.share-ulist>li>i{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: block;
    overflow: hidden;
    margin: 0 auto;
}
.share-ulist>li>i>img{
    width: 100%;
    height: 100%;
}
.share-ulist>li>span{
    white-space: nowrap;
    font-size: 12px;
}

/******************=同意按钮=**********************/

.agree-ui{
    width: 0.5rem;
    height: 0.5rem;
    border:1px solid #333333;
    background: #fff;
    display: inline-block;
}
.agree-ui.cur{
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../images/l1.jpg");
}

/******************=好友列表=**********************/

.partner-ulist li{
    /*padding: 0.5rem 1rem;*/
    /*border-bottom: 1px solid #eaeaea;*/
}
.partner-avator{
    float: left;
    width: 1.96rem;
    height: 1.96rem;
    margin-right: .4rem;
}
.partner-avator>img{
    display: block;
    width: 100%;
    height: 100%;
}
.partner-flex{
    display: flex;
    display: -webkit-flex;
    overflow: hidden;
    height: 100%;
    justify-content:space-between;
    -webkit-justify-content:space-between;
}
.partner-msg{
    float: left;
    /*display: flex;
    display: -webkit-flex;
    align-items:center;
    -webkit-align-items:center;*/
    line-height: 1.1rem;
    vertical-align: middle;
    font-size: .6rem;
}
.partner-msg i{
    width: 1px;
    height: .7rem;
    display: inline-block;
    margin: 0 0.2rem;
    background: #cbcbcb;
    position: relative;
    /*top: 0.12rem;*/
}
.partner-votes{
    line-height: 1.96rem;
    font-size: .52rem;
    color: #2098f7;
}
.partner-shopname{
    font-size: .48rem;
    max-width: 7.4rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.translate{
    transition:all .4s;
    -moz-transition:all .4s; /* Firefox 4 */
    -webkit-transition:all .4s; /* Safari and Chrome */
    -o-transition:all .4s; /* Opera */
}
.coupon li{
    height: 3.12rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    width: 100%;
}
.coupon li.bg-1{
    background-image: url("../img/p-bg-1.png");
}
.coupon li.bg-2{
    background-image: url("../img/p-bg-2.png");
}
.coupon li > span{
    position: absolute;
}
.coupon .r-1{
    font-size: 0.8rem;
    left: 0.9rem;
    top: .64rem;
}
.coupon .r-2{
    left: 0.9rem;
    top: 1.6rem;
    font-size: .4rem;
    line-height: 0.5rem;
    width: 2.6rem;
}
.coupon .r-3{
    right:1.9rem;
    text-align: right;
    font-weight: bold;
    top: 0.9rem;
    font-size: 1.2rem;
}
.coupon .r-3 i{
    font-size: .6rem !important;
    margin-left: .1rem;
}
.coupon .r-4{
    right:1rem;
    text-align: right;
    font-weight: bold;
    top: 1.45rem;
    font-size: .64rem;
}
.coupons span{
    color: #1274bd;
}
.red-pocket span{
    color: #ec2f33;
}
.red-pocket .r-1{
    left: 1.1rem;
    top: 1rem;
}
.not-get{
    width: 11.6rem;
    height: 4rem;
    position: absolute;
    left: 50%;
    margin-left: -5.8rem;
    top:1.5rem;
    background: url("../img/bq.jpg") no-repeat;
    background-size: 100% 100%;
}

/************************dialog弹框组件*************************/

.M_dialogBg {
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.5;
    top: 0;
    left: 0;
    background-color: #000;
.alpha(40);
    z-index: 999;
}

.M_dialogMain {
    position: fixed;
    z-index: 100000;
    font-size: .52rem;
    background-color: #FFF;
    border-radius: 15px;
    overflow: hidden;
    width: 72%;
    overflow: hidden;
}

.M_dialogContent{
    width: 100%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 12.667%;
    padding-bottom: 12.667%;
    font-size: .62rem;
    color: #000;
}

.M_dialogFooter{
    width: 100%;
    /*border-top:1px solid #bbb;*/
    background-color: #bbb;
    overflow: hidden;
    position: relative;
}
.M_dialogFooter:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    background-position: left bottom;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(0.5, #eaeaea), to(#eaeaea));
    background-repeat: repeat-x;
    -webkit-background-size: 100% 1px;
    width: 100%;
    height: 1px;
}

.M_dialogCancel{
    width: 49.9%;
    text-align: center;
    display: block;
    float:left;
    font-size: .64rem;
    color: #0076ff;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #FFF;
}

.M_dialogOk{
    width: 49.9%;
    text-align: center;
    display: block;
    float:right;
    font-size: .64rem;
    color: #0076ff;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #FFF;
    position: relative;
}
.M_dialogOk:before{
    content: '';
    position: absolute;
    left: 0;
    bottom:0;
    top: 0;
    z-index: 10;
    background-position: left bottom;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(0.5, #eaeaea), to(#eaeaea));
    background-repeat: repeat-x;
    -webkit-background-size: 100% 1px;
    width: 1px;
    height: 100%;
}
.fl{
    float: left;
    width: 44%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content:center;
    -webkit-justify-content:center;
    align-items:center;
    -webkit-align-items:center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.b-1{
    font-size: .76rem;
    font-weight: bold !important;
    text-align: center;
}
.b-2{
    font-size: .32rem;
    line-height: .5rem;
    max-width: 2.4rem;
    word-break: break-all;
    display: block;
    text-align: left;
    /*font-weight: bold;*/
}
.b-3>i{
    font-size: .6rem !important;
    margin-left: .1rem;
}
.j-pop{
    display:none;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    z-index:1000;
}
.j-pop .pop-con{
    border-radius:5px;
    padding:20px 16px;
    text-align:center;
    background:rgba(0,0,0,0.8);
    z-index:99;
    color:#fff;
    font-size:16px;
}
.b-3{
    font-size: 1.2rem;
    font-weight: bold;
    padding-right: .2rem;
    white-space: nowrap;
}
.b-4{
    font-size: .6rem;
    white-space: nowrap;
    font-weight: bold;
    padding-right: .2rem;
}
.fr {
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 0.5rem;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content:center;
    align-items:center;
    -webkit-align-items:center;
}


